@page
@model TiendaPelicula.Pages.Peliculas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary btn-sm">Registrar pelicula</a>
</p>
<form>
    <select asp-for="GeneroPelicula" asp-items="Model.Generos">
        <option value="">Todos</option>
    </select>
    <p>
        Titulo: <input type="text" asp-for="TextoBusqueda" />
        <input type="submit" value="Filtrar" class="btn btn-warning btn-sm" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].FechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula[0].Calificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pelicula) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>